{% extends contest.html %}

{% block additional_js %}
function update_additional_comment(e)
{
  var obj = $("#alternative_comment");
  var option = $("#request_select").find(":selected");
  if ($(option).data("comment") == "show")
    obj.show();
  else
    obj.hide();
}
$(document).ready(update_additional_comment);
{% end %}
{% block core %}
<div class="span9">

{% from cms import config %}

<div class="page-header">
    <h1>{{ _("Call a staff") }}</h1>
</div>

<form class="form-horizontal" action="{{ contest_url("callstaff") }}" method="POST">
  {% module xsrf_form_html() %}
  <div class="well question_submit">
    Type of request:
    <select name="request_type" id="request_select" onchange="update_additional_comment(this)" size="4">
      <option selected value="Restroom">Restroom</option>
      <option value="Handwritten clarification">Handwritten clarification</option>
      <option data-comment="show" value="Technical problem">Technical problem</option>
      <option data-comment="show" value="Other">Other</option>
    </select>
    <button type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
    <div id="alternative_comment" style="display: none">
      <br>
      Details(optional):<br>
      <textarea class="input-xlarge" name="comment_text" rows="5" maxlength="1000"></textarea>
    </div>
  </div>
</form>

</div>
{% end %}
