{% extends contest.html %}

{% block core %}
<div class="span9">

{% from cms import config %}

<div class="page-header">
    <h1>{{ _("Call a staff") }}</h1>
</div>

<form class="form-horizontal" action="{{ contest_url("callstaff") }}" method="POST">
  {% module xsrf_form_html() %}
  <div class="well question_submit">
    Type of request:
    <select name="request_type" id="request_select" onchange="update_additional_comment(this)" size="4">
      <option selected value="Restroom">Restroom</option>
      <option value="Handwritten clarification">Handwritten clarification</option>
      <option value="Technical problem">Technical problem</option>
      <option value="Other">Other</option>
    </select>
    <button type="submit" class="btn btn-primary">{{ _("Submit") }}</button>
  </div>
</form>

</div>
{% end %}
